* {
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

.div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    background-color: rgb(102, 143, 143);
    height: 550px;
}

.div img {
    border-radius: 100%;
    margin: 100px 50px 100px;
    height: 400px;
    width: 500px;
}

.div p {
    align-content: center;
    margin: 100px 30px 150px;
    word-break: break-word;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} 

.footer div:nth-child(1) {
    background-color: rgb(205, 249, 255);
    border-radius: 10px;
    height: 300px;
    word-break: break-word;
    padding: 50px 30px 50px;
}

.footer div:nth-child(2) {
    background-color: greenyellow;
    border-radius: 10px;
    height: 300px;
    word-break: break-word;
    padding: 50px 30px 50px;
}

.footer h2 {
    text-align: center;
}

.footer p {
    font-size: xx-large;
    font-weight: bolder;
}


/** Styling on mobile devices **/
  @media (max-width: 500px) {
  .div {
    display: block;
    word-break: break-word;
    padding: 30px 10px 150px;
  }
    .div img {
        margin: 50px 0px;
        height: 300px;
        width: 300px;
        padding: 0px 50px;
    }
    .footer {
    display: block;
    word-break: break-word;
    padding: 0px 0px 150px;
    height: 100px;
  }  
}

